VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5hZndnZXV2bWNva2xiam9yZmFhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4NTA1ODIsImV4cCI6MjA5MDQyNjU4Mn0.__aP8Q2V_Uf9Dus4VozbkS6qo9xWfPWX-km_lOS6Mp8
